@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0; }

.cards {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-right: 0;
  flex-flow: row wrap; }
  .cards .card {
    width: 160px;
    height: 160px;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    clear: both;
    margin: 0 0 20px;
    position: relative;
    color: white;
    padding: 16px;
    text-align: center;
    background-color: white;
    border: 5px solid #e67579;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px #5dd0f6, 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    margin-right: 10px; }
    @media only screen and (max-width: 780px) {
      .cards .card {
        width: 140px;
        height: 140px; } }
    .cards .card:hover {
      box-shadow: 10px 10px #5dd0f6, 0 6px 10px 0 rgba(0, 0, 0, 0.2); }
    .cards .card:active {
      transform: scale(0.95);
      box-shadow: 14px 14px #5dd0f6, 0 6px 10px 0 rgba(0, 0, 0, 0.2); }
    .cards .card img {
      width: 97%; }
    .cards .card .profile {
      border-radius: 20px;
      background-color: #5dd0f6;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60%; }
    .cards .card .doralon {
      width: 80%; }
    .cards .card.hadar img {
      width: 70%; }
    .cards .card.soteria img {
      width: 120%; }
  .cards.tech {
    margin-bottom: 20px; }
    @media only screen and (max-width: 780px) {
      .cards.tech {
        margin-right: 0;
        height: 370px; } }
    .cards.tech .card {
      width: 100px;
      height: 100px;
      padding: 10px; }
    .cards.tech img {
      width: 98%; }
    .cards.tech.bigger {
      padding: 3px; }

.potfolio-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  color: #353535; }
  @media only screen and (max-width: 1100px) {
    .potfolio-container {
      flex-flow: wrap;
      height: unset; } }
  .potfolio-container .sec1 {
    flex: 0 1 10%;
    padding-top: 50px; }
    @media only screen and (max-width: 1100px) {
      .potfolio-container .sec1 {
        flex: 0 1 20%; } }
  .potfolio-container .sec2 {
    flex: 0 1 40%;
    padding-top: 50px; }
    @media only screen and (max-width: 1100px) {
      .potfolio-container .sec2 {
        flex: 0 1 80%;
        margin: 0 auto; } }
  .potfolio-container .sec3 {
    flex: 0 1 50%;
    height: 100%;
    width: 100%;
    border-left: 8px rgba(216, 38, 44, 0.637) solid; }
    @media only screen and (max-width: 1100px) {
      .potfolio-container .sec3 {
        flex: 0 1 100%; } }
    .potfolio-container .sec3 .fs-pressed {
      padding: 0;
      padding-top: 20px;
      height: 100%; }
      @media only screen and (max-width: 780px) {
        .potfolio-container .sec3 .fs-pressed {
          border-left: unset; } }
      .potfolio-container .sec3 .fs-pressed .inner-wrap {
        transition: all 0.15s ease-in;
        height: 100%; }
        @media only screen and (max-width: 780px) {
          .potfolio-container .sec3 .fs-pressed .inner-wrap {
            border-left: unset; } }
      .potfolio-container .sec3 .fs-pressed .fs-header {
        text-align: center;
        font-size: 30px; }
        @media only screen and (max-width: 780px) {
          .potfolio-container .sec3 .fs-pressed .fs-header {
            font-size: 20px; } }

.logo-text {
  padding-top: 0px;
  padding-left: 30px;
  text-align: left;
  color: #00B4F1;
  display: flex; }
  .logo-text:hover .a {
    color: #00B4F1;
    transition: all 0.5s ease-out;
    text-shadow: 1px 1px #D8262C, 2px 2px #D8262C, 3px 3px #D8262C, 4px 4px #D8262C, 5px 5px #D8262C, 6px 6px #D8262C, 7px 7px #D8262C; }
  .logo-text span {
    margin: 0;
    font-size: 35px; }
    .logo-text span.a {
      font-size: 50px;
      color: #00B4F1;
      transition: all 0.5s ease-in;
      text-shadow: 1px 1px #D8262C,  2px 2px #D8262C,  3px 3px #D8262C,  4px 4px #D8262C,  5px 5px #D8262C; }
    .logo-text span.c {
      color: #D8262C;
      margin-top: 4px;
      margin-left: -6px; }
    .logo-text span .hidden-text {
      color: #00B4F1;
      display: none;
      transition: 2s ease-in 1s; }
    .logo-text span:hover .hidden-text {
      display: inline; }

.main-text {
  margin-bottom: 30px; }
  .main-text h2 {
    margin: 0;
    font-size: 70px; }
    @media only screen and (max-width: 1100px) {
      .main-text h2 {
        font-size: 60px; } }
    @media only screen and (max-width: 780px) {
      .main-text h2 {
        font-size: 40px; } }
  .main-text h3 {
    margin: 0;
    font-size: 70px; }
    @media only screen and (max-width: 1100px) {
      .main-text h3 {
        font-size: 60px; } }
    @media only screen and (max-width: 780px) {
      .main-text h3 {
        font-size: 40px; } }
    .main-text h3.fs {
      color: #D8262C;
      text-shadow: 1px 1px #00B4F1,  2px 2px #00B4F1,  3px 3px #00B4F1,   4px 4px #00B4F1,  5px 5px #00B4F1;
      transition: all 0.12s ease-in; }
      .main-text h3.fs:hover {
        cursor: pointer;
        text-shadow: 1px 1px #00B4F1,  2px 2px #00B4F1,  3px 3px #00B4F1,   4px 4px #00B4F1,  5px 5px #00B4F1,  6px 6px #00B4F1, 7px 7px #00B4F1,  8px 8px #00B4F1, 9px 9px #00B4F1,  10px 10px #00B4F1; }
    .main-text h3.vu {
      color: #00B4F1;
      text-shadow: 1px 1px #D8262C,  2px 2px #D8262C,  3px 3px #D8262C,   4px 4px #D8262C,  5px 5px #D8262C;
      transition: all 0.12s ease-in; }
      .main-text h3.vu:hover {
        cursor: pointer;
        text-shadow: 1px 1px #D8262C,  2px 2px #D8262C,  3px 3px #D8262C,   4px 4px #D8262C,  5px 5px #D8262C,  6px 6px #D8262C, 7px 7px #D8262C,  8px 8px #D8262C, 9px 9px #D8262C,  10px 10px #D8262C; }
